body {
    justify-content: center;
    align-items: center; 
    background-color: rgb(253, 206, 226);
}

.container {
    text-align: center;
    margin-top: 250px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}